// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

p.teaser {
    text-indent: 30px; 
    }

.text {
    display: inline-block; 
    text-overflow: clip;
    padding: 10px;
    width: 350px; 
    border: 0px solid black;
    overflow: hidden;
    }